.jumbotron

  %h1 Seja bem vindo a plataforma ponte!
  %p Um sistema integrado para facilitar a vida das equipes e da liderança da sua igreja!
  %br 
  %a.btn.btn-lgbtn-social.btn-google-plus{:href => "#{user_omniauth_authorize_path(:google_oauth2)}"}
    %i.fa.fa-google-plus
    | Entre com sua conta do Google
